<?xml version="1.0"?>
<ruleset xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" name="PHP_CodeSniffer" xsi:noNamespaceSchemaLocation="phpcs.xsd">
    <!--
      Documentation:
      https://github.com/squizlabs/PHP_CodeSniffer/wiki/Annotated-Ruleset
      -->

    <!-- What to scan -->
	  <file>./admin</file>
	  <file>./ajax</file>
	  <file>./class</file>
	  <file>./core</file>
	  <file>./css</file>
	  <file>./js</file>
	  <file>./lib</file>

    <rule ref="./dev/tools/phpcs/dolibarr-ruleset.xml"/>

    <arg value="sp"/>
    <arg name="basepath" value="."/>
    <arg name="colors"/>
    <arg name="extensions" value="php,inc" />
    <arg name="parallel" value="8"/>
</ruleset>
